@model FICHospitalMRT.Models.StudyChangeData
    <div class="row">
        <div class="form">
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
                <div class="form-group">
                    <label for="NameofStudyChangeDB">Название обследования:</label>
                    <input type="text" class="form-control checking" placeholder="Тип обследования" id="NameofStudyChangeDB" name="ChangeDataType" />
                </div>
                <div class="form-group">
                    <label for="CostofStudyChangeDB">Стоимость обследования:</label>
                    <input type="text" class="form-control checking" placeholder="Цена обследования" id="CostofStudyChangeDB" name="ChangeDataCost"/>
                </div>
            </div>
        </div>
    </div>
