@model FICHospitalMRT.Models.LaborantsChangeData
    <div class="form-group">
        <label for="LastNameofLaborantChange">Фамилия лаборанта:</label>
        <input type="text" class="form-control checking" placeholder="Фамилия" id="LastNameofLaborantChange"  name="LastNameChangeLaborant" />
    </div>

    <div class="form-group">
    <label for="FirstNameofLaborantChange">Имя лаборанта:</label>
    <input type="text" class="form-control checking" placeholder="Имя" id="FirstNameofLaborantChange" name="FirstNameChangeLaborant" />
    </div>
