@model FICHospitalMRT.Models.Laborants
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
        <div class="form">
            <div class="form-group">
                <label for="LastNameOfLaborant">Фамилия лаборанта:</label>
                <input type="text" class="form-control checking" placeholder="Введите фамилию" id="LastNameOfLaborant" name="LastName"/>
            </div>
            <div class="form-group">
                <label for="FirstNameOfLaborant">Имя лаборанта:</label>
                <input type="text" class="form-control checking" placeholder="Введите имя" id="FirstNameOfLaborant" name="FirstName" />
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" id="SaveNewLaborantButton" title="Нажмите для сохранения нового лаборанта">
            <i class="fa fa-floppy-o"></i>
        </button>
    </div>
</div>
