@model FICHospitalMRT.Models.Study
        
    @using (Ajax.BeginForm("SaveNewStudy", new AjaxOptions
    {
        //UpdateTargetId = "savenewstudy",
        Confirm = "Вы действительно хотите сохранить обследование?",
        OnSuccess = "Onsuccess",
        OnFailure = "OnFailure",
        OnComplete= "OnComplete",

    }))
    {
        <div class="row">
            <div class="form">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
                    <div class="form-group">
                        @*<div class="withoutLeftPadding col-lg-12 col-md-12 col-sm-12 col-xs-12">*@
                            <label for="txtStudyType">Название обсделования:</label>
                        @*</div>*@
                        @*<div class="withoutLeftPadding col-lg-12 col-md-12 col-sm-9 col-xs-8">*@
                            @Html.TextBoxFor(m => m.Type, new { @placeholder = "Тип обследования", @id = "txtStudyType", @class = "form-control" })
                        @*</div>*@
                    </div>
                </div>
               
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">                   
                    @* Empty div *@
                </div>
                <div class="clearfix"></div>   

                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
                    <div class="form-group">
                        @*<div class="withoutLeftPadding col-lg-12 col-md-12 col-sm-12 col-xs-12">*@
                            <label for="txtStudyCost">Стоимость обсделования:</label>
                        @*</div>*@
                        @*<div class="withoutLeftPadding col-lg-12 col-md-12 col-sm-9 col-xs-8">*@
                            @Html.TextBoxFor(m => m.Cost, new { @placeholder = "Стоимость обследования", @id = "txtStudyCost", @class = "form-control" })
                        @*</div>*@
                    </div>
                </div>               
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="btnLocalisation col-lg-7 col-md-7 col-sm-6 col-xs-5">
                    @*<br />*@
                    <button id="btnSaveNewStudy" type="submit" class="btn btn-primary pull-right" title="Сохранить обследование в БД">
                        @*Создать*@
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    @*<button type="reset">Сбросить</button>*@
                </div>
            </div>
        </div>
    }


